.conteiner {
   
    max-width: 1366px;
    width: 100%;
    margin: 0 auto;
    /* border: solid red 3px; */
    
}

header{
    width: 100%;
    display: flex;
    /* border: solid black 3px; */
    justify-content: space-between;
    padding-left: 139px;
    padding-right: 139px;
    padding-top: 28px;
    padding-bottom: 28px;
    align-items: center;
    background-color: white;
}

body
{
    background-color: #F2F5F8;
}


.text1 {
    color:#27187F;
    font-size: 31px;
    font-weight: bold;
    font-family:'Ubuntu';
}
.text2 {

    color:#758BFD;
    font-size: 31px;
    font-weight: bold;
    font-family:'Ubuntu';


}
 .uli1 {
    display: flex;
    gap: 70px;
    /* padding-left: 135px; */
    /* ამ კოდს როცა ვაცოცხლებ პროპორციას ვკლარგავ, ძაან ცენტრისკენ იწევს მენიუ. xd_ს ფაილზე 135 პიქსელია დაშორება */
 }

li {

    font-size: 13px;
    color: #8172D5;
    font-family: 'Roboto';
}

.search {
    display: flex;
    width: 227px;
    height: 37px;
    background-color: #F2F5F8;
    justify-content:flex-end ;
    padding-left: 135px;
    
}

.fa-magnifying-glass
{
    color: white;
    
 
    
}
.serchicon
{   display: flex; 
    width: 37px;
    height: 37px;
    justify-content:flex-end;
    background-color: #8172D5;
    justify-content: center;
    align-items: center; 
    
}

footer {
    
width: 100%;
background-color: #758BFD;
display: flex;
padding-left: 139px;
padding-right: 139px;
padding-top: 25px;
padding-bottom: 27px;
justify-content: space-between;

}

.footertext
{
    width: 634px;
    /* border: solid red 3px; */
    display: flex;
}

.uli2 {
    display: flex;
    /* justify-content: space-between; */
}


.foottext1
{
    color:white;
    font-size: 14;
    font-family: 'Roboto';
}

.l1 {
    color:white;
    font-size: 14;
    font-family: 'Roboto';
    padding-right: 85px;
}
.l2 {
    color:white;
    font-size: 14;
    font-family: 'Roboto';
    padding-right: 112px;
}
.l3 {
    color:white;
    font-size: 14;
    font-family: 'Roboto';
    padding-right: 112px;
}
.l4 {
    color:white;
    font-size: 14;
    font-family: 'Roboto';
   padding-right:0;
}

section {

    
    background-color: #F2F5F8;
    width: 80%;
    margin: 0 auto;
    /* border: 2px black solid; */
    padding-bottom: 108px;
}
.textsection
{
    color: #133B3A;
    font-size: 18px;
    font-family: 'Roboto';
    padding-top: 59px;
    padding-bottom: 28px;
}
.cards {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 795px;
    align-content: space-between;
  
    
}


.carddiv
{
    display: flex; 
    flex-wrap: wrap;
    height: 368px;
    width: 24%;
    background-color: white;
    /* border: 2px solid black; */
    border-radius: 5%;
    justify-content: center;
    
}

.size {
    
    width: 86%;
    height:34%;
    padding-top: 18px;
    /* ამ პედინგის კოდმა სურათები დაწია 18 პიქსელით თუ შეკუმშა ვერ გავიგე */
}

.textpic
{    
    display: flex;
    width: 200px;
    color:#133B3A;
    font-size: 20px;
    font-family: 'Roboto';
    padding-left: 18px;
    padding-top: 76px;
   
}